<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Softlight" connectionString="Data Source=DESKTOP-AI2N8VB\BANKSSERVER;Initial Catalog=MEF;User ID=sa;Password=Ba1nakasa214" />
   <add name="Server1" connectionString="Data Source=129.18.169.247;Initial Catalog=MEF;User ID=sa;Password=Sa4fatala3gahataSa2rava2ra" />
    <add name="Server2" connectionString="Data Source=154.117.100.197;Initial Catalog=MEF;User ID=sa;Password=Sa4fatala3gahataSa2rava2ra" />
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
</startup>
</configuration>
